

<%= image_tag "apus_web_mod01.jpg" %> 


<nav class="navbar navbar-default" role="navigation"> 

<ul class="nav navbar-nav">
 
  <li><%= link_to 'O firmie', welcome_index_path %> </li>
  <li><%= link_to 'News', news_index_path %> </li>
  <li><%= link_to 'Produkty',  products_index_path  %> </li>
  <li><%= link_to 'Wdrozenia', implementations_index_path %> </li>
  <li><%= link_to 'Kontakt', contact_index_path %> </li>


</ul>

</nav>
