<div class="container">
<%= render "shared/top" %>


<div class="section_header_div">
    <h2>O firmie</h2>
</div>
    <p class="main_par">Zajmujemy się projektowaniem, tworzeniem oraz wdrażaniem rozwiązań IT dla szerokiego grona odbiorców - od placówek kultury po zakłady produkcyjne i&nbsp;dostawców energii. 
</p>
<p>Blisko 20 letnie doświadczenie w branży usług informatycznych pozwala nam dokładnie zrozumieć potrzeby klientów i wychodzić im naprzeciw, oferując oprogramowanie najlepiej dostosowane do ich wymagań i oczekiwań, niezależnie od branży w której działają.</p> 
	<p>Nasi pracownicy nieustannie rozszerzają swoje kwalifikacje poprzez udział w&nbsp;szkoleniach i&nbsp;konferencjach dotyczących najnowszych trendów i&nbsp;rozwiązań w&nbsp;dziedzinie IT. Siedziba firmy znajduje się w&nbsp;Krakowie, co oczywiście nie ogranicza obszaru wdrożeń , gdyż APUS współpracuje z&nbsp;klientami z całej Polski.

    </p>
<div class="section_header_div">
    <h2>Misja</h2>
</div>
    <p>Naszą misją jest dostarczanie kontrahentom najwyższej klasy zoptymalizowanych i&nbsp;dostosowanych do ich potrzeb rozwiązań informatycznych umożliwiających zdobycie przewagi konkurencyjnej.

    </p>

<div class="section_header_div">
<h2>Rozwiązania</h2>
</div>
<p>Nasze oprogramowane powstaje w&nbsp;oparciu o&nbsp;renomowane technologie takie jak systemy Oracle Database firmy Oracle czy systemy zarządzania bazami danych Informix firmy IBM. 	
</p> 

<%= render "shared/bottom" %> 
</div>
