<div class="container">

<%= render "shared/top" %>


	<% @implementations.each do |implementation| %>

		<div class="panel panel-default">
			<div class="row">
			<div class="col-md-5">
				<p class="bg-info">Klient</p>
				<p class="imp_p"><%= implementation.client %></p>
			</div>
			<div class="col-md-5">
				<p class="bg-info">Miejsce wdrożenia</p>
				<p class="imp_p"><%= implementation.place %></p>
			</div>
			<div class="col-md-2">
				<p class="bg-info">Rok wdrożenia</p>
				<p class="imp_p"><%= implementation.date %></p>
			</div>
		</div>
			<div class="row">
			<div class="col-md-12">
				<p class="bg-info">Wdrożone moduły</p>
				<ul>
					<% implementation.implemented_modules.each do |impModule| %>

					<li><%= impModule.implementedmodule %></li>
					<% end %>
				</ul>
			</div>
		</div>
		</div>
	<% end %>


<%= render "shared/bottom" %>

</div>
