<%= form_for :implementation, url: implementations_path  do |f| %>
<p>
  <%= f.label :client %><br>
  <%= f.text_field :client %><br>
</p>

<p>
  <%= f.label :place %><br>
  <%= f.text_field :place %><br>
</p>

<p>
  <%= f.label :date %><br>
  <%= f.text_field :date %><br>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

