<%= form_for :implemented_module, url: implementation_implemented_modules_path do |f| %>

<p>
<%= f.label :implementedModule %>
<%= f.text_field :implementedModule %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
