
<div class="container">
<%= render "shared/top" %>
<div class="row">
<div class="col-md-4">
<p class="text-center">
Apus Komputerowe Systemy Zarządzania Sp.&nbsp;z&nbsp;o.o.<br>
Kraków ul. Cystersów 21<br>
31-553 Kraków<br>
</p>
<div class="section_header_div">
<h2>Sekretariat:</h2>
</div>
<p class="dataP">
tel. (0-12) 417-30-30<br>
fax. (0-12) 444-17-71<br>
</p>
<div class="section_header_div">
<h2>Serwis:</h2>
</div>
<p class="dataP">
tel. (0-12) 294-26-46<br>
fax. (0-12) 294-26-26<br>
e-mail: poczta@apus.com.pl <br>
</p>
</div>
<div class="col-md-2">
</div>
<div class="col-md-4">
<iframe width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://mapy.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=krak%C3%B3w+cysters%C3%B3w+22&amp;sll=52.025459,19.204102&amp;sspn=6.693827,14.128418&amp;ie=UTF8&amp;hq=&amp;hnear=Cysters%C3%B3w+22,+Krak%C3%B3w,+ma%C5%82opolskie&amp;t=m&amp;z=14&amp;ll=50.06321,19.970197&amp;output=embed"></iframe><br /><small><a href="http://mapy.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=krak%C3%B3w+cysters%C3%B3w+22&amp;sll=52.025459,19.204102&amp;sspn=6.693827,14.128418&amp;ie=UTF8&amp;hq=&amp;hnear=Cysters%C3%B3w+22,+Krak%C3%B3w,+ma%C5%82opolskie&amp;t=m&amp;z=14&amp;ll=50.06321,19.970197" style="color:#0000FF;text-align:left">Wyświetl większą mapę</a></small>
</div>
<div class="col-md-2">
</div>
</div>

<%= render "shared/bottom" %>
</div>
