

@CHARSET "UTF-8";root {
    margin: 0px;
    padding: 0px;
    font-family: "Verdana",Geneva,sans-serif;
  }


a:link {
    color: black;
    text-decoration:none;
  }


a:visited {
    color: black;
    text-decoration:none;
  }


a:active {
    color: black;
    text-decoration:none;
  }


a:hover {
    color: red;
    text-decoration:none;
  }


body {
    margin: 0px;
    width: 100%;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    height: 100%;
  }

  html {

    height: 100%;
  }


header {
    display: block;
    background-color: white;
    /*background-color: #F2F4F4;*/
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }


aside {
    background-color: #FFFFD0;
  }


section {
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    width: 100%;
  }


nav {
    width: 100%;
    /*background-color: #F2F4F4;*/
  }


footer {
  }

  .wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  width: 100%;
  height: 155px; /* .push must be the same height as .footer */
}

/*opisywane kolejne bloki div*/

#dane {
    font-size: 14px;
    text-align: left;
    float:left;
    width: 335px;
    height: 100%;
    /*border: 1px solid #e9e9e9;
    */;
  }


#naglowek {
    width: 760px;
    margin: 0px auto;
  }


#menubar {
    width: 760px;
    margin: 0 auto;
  }


#mapa {
    float:right;
    width: 400px;
    height: 100%;
  }


#onas {
    clear: both;
    overflow: hidden;
    width: 760px;
    margin: 15px auto;
  }


#tresc {
    background-color: #FFFFFF;
    width: 760px;
    margin: 25px auto;
    /*border: 1px solid #e9e9e9;
    */padding: 15px;
  }


#stopka {
    text-align: right;
    padding-right: 25px;
    width: 760px;
    margin: 0 auto;
  }


img {
    width: 100%;
    height:100%;
    margin: 0px;
	padding: 0px;
  }


h1 {
    font-size: 50px;
    line-height: 44px;
    padding: 22px 0;
  }


h2 {
    padding-left: 10px;
    text-align: left;
    color: #3F3F9F;
  }


hr {
    line-break: loose;
    color: red;
    background-color: red;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
  }


p {
padding: 0px 5px 10px 5px;
text-align: left;
  }

/*css dla rozwijanego menu poziomego */


#menu {
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma;
    margin: 0px;
    padding: 0px;
  }


#menu li {
    border-right: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    display:block;
    /*background: #e9e9e9;
    */font-size: 16px;
    font-weight: 650;
    padding: 0px;
    text-decoration: none;
  }

/* tylko do opisu skrejnego prawego elementu, zeby nie robil granicy*/


#menu .rightLi {
    list-style-type: none;
    float: left;
    display:block;
    /*background: #e9e9e9;
    */font-size: 16px;
    font-weight: 650;
    padding: 0px;
    text-decoration: none;
    border-right: 0px solid white;
  }

/*
#menu li:hover{
	border:1px solid #d5d5d5;
	list-style-type:none;
	float: left;
	color: red;
}*/


#menu li a {
    display: block;
    width: 188px;
    text-align: center;
    padding: 5px 0;
  }


#menu li li a {
    display: block;
    width: 220px;
  }


/*to opisuje bloki a w elementach listy zagniezdzonej*/


#menu li ul {
    overflow: hidden;
    display: none;
    font-size: 14px;
    font-weight: 700;
  }


#menu li:hover ul {
    position:absolute;
    background: #e9e9e9;
    padding: 0;
    display: block;
    width: 220px;
  }


.section_header_div {
    border-left: solid 10px red;
    border-bottom: solid 1px red;
    display: inline-block;
    margin-left: 15px;
    padding-right: 10px;
    margin-top: 10px;
  }


.dataP {
    margin: 10px 0px;
    padding-left: 25px;
 text-align: left;
  }


.companyCardP {
    text-align:center;
  }


#main_info {
    float:left;
    width: 100%; /*560px; */
    height: 100%;
    padding: 0px 0px; /* czemu padding nie dziala?*/
  }


#main_sidebar {
    float:right;
    width: 200px;
    height: 100%;
  }


#products_info {
    float:left;
    width: 510px;
    height: 100%;
padding-bottom: 2000px;
margin-bottom: -2000px;
  }


#products_sidebar {
    float:right;
    width: 248px;
    height: inherit; /*100%*/
    -moz-border-radius: 10px;
    border-radius: 10px;
background-color: #C3D9FF;
padding-bottom: 2000px;
margin-bottom: -2000px;
  }


.main_par {
 text-align:justify;
  }


.imp_field{
border: 1px black solid;
/*-moz-border-radius: 10px;
border-radius: 10px;*/
width: 90%;
margin: 0px auto 15px auto;
}

.imp_name{
float: left;
width: 40%;
height: 100%;
border: 1px black solid;
border-left: 0px;
border-top: 0px;
}

.imp_place{
border: 1px black solid;
width: 40%;
height: 100%;
float:left;
border-left: 0px;
border-top: 0px;
}

.imp_year{
float: left;
width: 19%;
height: 100%;
border: 1px black solid;
border-left: 0px;
border-top: 0px;
border-right: 0px;
}

.imp_top_row{

height: 100%;
}

.imp_modules{
padding-top: 0px;
clear: both;
}

.imp_p{
text-align: justify;
margin: 0px;
}

.label_description{
background-color: silver;
font-size: 10px;
text-align: left;
padding: 0px 0px 0px 3px;
-moz-border-radius-topleft: 10px;
border-radius-topleft: 10px;
}

.label_description2{
background-color: silver;
font-size: 10px;
text-align: left;
padding: 0px 0px 0px 3px;
}

.label_description3{
background-color: silver;
font-size: 10px;
text-align: left;
padding: 0px 0px 0px 3px;
-moz-border-radius-topright: 10px;
border-radius-topright: 10px;
}


.definition_frame{
border: 1px silver solid;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 5px;
margin: 5px;
width: 220px;
height: 120px;
background-color: silver;
}

#erp_definition{
margin: 0px auto; 
width: 400px;
height: 100px;
}

#left_taylor{
float: left;
}

#right_taylor{
float: left;
}

.knowmore{
 font-weight:bold;
 text-align: center;
}

.definition_text{
text-align: center;
font-size: 16px;
}

.bottom_p{
text-align: right;
}

ul {
   list-style-image: url('glyphicons_049_star.png');
}

/* to opisuje cala rozwijana liste jak sie na nia najedzie*/