
<div class="section_header_div">
	<h2>ERP</h2>
</div>
<p>
	Nasza firma specjalizuje się w produkcji i wdrażaniu systemów klasy ERP - Enterprise Resource Planning - narzędziami służącymi do kompleksowego zarządzania przedsiębiorstwami.
</p>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#products_grouping" href="#collapseErp">
				<p class="definition_text">ERP - Enterprise Resource Planning</p>
				<p class="knowmore">dowiedz się więcej</p>
			</a>
		</div>
		<div id="collapseErp"  class="panel-collapse collapse">
			<div class="panel-body">
				<%= render "erp" %>
			</div>
		</div>
</div>
<div class="section_header_div">
	<h2>Systemy specjalizowane</h2>
</div>
<p >W trakcie ponad 20 lat działalności firmy realizowaliśmy zlecenia dla klientów z dużego spektrum branżowego, między innymi dla przemysłu spożywczego, wydobywczego, zakładów produkcyjnych, szpitali i placówek kulturalnych. Świadomi różnic w oczekiwaniach od systemów komputerowych każdej z branż, staramy się dostarczać produkty "szyte na miarę" dla naszych klientów, często oferujące funkcjonalność wykraczającą poza ramy typowych systemów ERP. W ciągu ostatnich lat zaprojektowaliśmy dwa duże systemy na indywidualne zlecenie naszych klientów:
</p>
<div id="customized_grouping">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#customized_grouping" href="#collapseAccounting">
					<p class="definition_text">System billingowy</p>
					<p class="knowmore">dowiedz się więcej</p>
				</a>
			</div>
			<div id="collapseAccounting"  class="panel-collapse collapse">
				<div class="panel-body">
					<%= render "accounting" %>
				</div>
			</div>
	</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" data-parent="#customized_grouping" href="#collapseVentilation">
					<p class="definition_text">System doboru central wentylacyjnych</p>
					<p  class="knowmore">dowiedz się więcej</p>
				</a>
			</div>
			<div id="collapseVentilation"  class="panel-collapse collapse">
				<div class="panel-body">
					<%= render "ventilation" %>
				</div>
			</div>
	</div>
</div>

