<div class="panel panel-default">
<div class="panel-heading">
<%= link_to 'ERP', :action=>"index", :contents_param =>"erp" %> 
</div>
<div class="panel-body">
	<ul>
<LI><%= link_to 'Gospodarka magazynowa', :action=>"index", :contents_param =>"erp" %></LI>
<li><%= link_to 'Finanse i księgowość', :action=>"index", :contents_param =>"erp" %></li>
<li><%= link_to 'Kadry i płace', :action=>"index", :contents_param =>"erp" %></li>
<li><%= link_to 'Planowanie produkcji', :action=>"index", :contents_param =>"erp" %> </li>
<li><%= link_to 'Sprzedaż', :action=>"index", :contents_param =>"erp" %></li>
<li><%= link_to 'CRM', :action=>"index", :contents_param =>"erp" %></li>
</ul>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<%= link_to 'Systemy specjalizowane', :action=>"index", :contents_param =>"erp" %>
</div>
<div class="panel-body">
<ul>
<li><%= link_to 'System billingowy', :action=>"index", :contents_param =>"accounting" %></li>
<li><%= link_to 'System doboru central wentylacyjnych', :action=>"index", :contents_param =>"ventilation" %></li>
</ul>
</div>
</div>