
<h2>System Doboru Central Wentylacyjnych</h2>

	<p>System Doboru Central Wentylacyjnych powstał w odpowiedzi na  zapotrzebowanie zgłoszone ze strony firmy Juwent na aplikację wspomagającą dobór central wentylacyjnych wraz z jej poszczególnymi elementami. Nietypowa specyfika systemu oraz brak analogicznych rozwiązań na rynku w połączeniu z koniecznością zapewnienia interfesju do współpracy z wiodącymi producentami podzespołów central wentylacyjnych (takich jak wentylatory, wymienniki ciepła) stanowiła interesujące wyzwanie dla firmy APUS, którego efekt końcowy spełnił wszelkie wymagania zamawiającego.
	System Doboru Central Wentylacyjnych jest aplikacją kompletną, samodzielną, prostą w obsłudze i instalacji, co czyni go idealnym narzędziem zarówno dla producentów, dystrybutorów jak i potencjalnych nabywców. po pobraniu aplikacji z witryny www i rejestracji danych w systemie. W zależności od przyznanych uprawnień, aplikacja może pozwalać także na dokonywanie w zaawansowany sposób wyboru elementów. Umieszczene w bazie danych elementy potrzebne do doboru właściwej centrali oraz aktualizacja ‘online’ programu powoduje, iż wszelkie zmiany wynikające ze zmian w produkcji są widoczne od razu przez aplikację klienta. 
	Zastosowanie Systemu Doboru Central Wentylacyjnych umożliwia skrócenie czasu przygotowania oferty do zaledwie kilku minut, a także automatyczną wycenę rozwiązania zaprezentowanego w ofercie. Pozwala to na płynniejszą obsługę klienta, redukuje do minimum błędy powstałe przy przygotowaniu ofert, a także zmniejsza koszty z tym związane.
	</p>
