<section>
<div id="tresc">
<h1>System ERP</h1>

	System ERP, stworzony pierwotnie na zamówienie i przy współpracy z firmą Bolarus, jest kompletnym, w pełni zintegrowanym i adaptatywnym systemem spełniającym wymogi MRP II wspierającym podejmowanie decyzji i działalność przedsiębiorstwa we wszystkich jego działach -  od księgowości, przez marketing, po produkcję i sprzedaż. Pozwala m.in. na gromadzenie danych ze wszystkich działów w jednym systemie, a następnie generowanie raportów przy pomocy syntetycznych danych i łatwiejszą analizę sytuacji przedsiębiorstwa przez kadrę zarządzającą. System ERP idealnie odpowiada na wyzwania związane z prowadzeniem działalności gospodarczej we współczesnej gospodarce, z dynamicznie zmieniającymi się uwarunkowaniami i zmuszającej do gromadzenia i uwzględniania ogromnej ilości informacji. Na system ERP składają się następujące moduły:

<h2>Finanse i ksiegowość:</h2>
<ul>
<li>prosta, intuicyjna obsługa systemu</li>
<li>obsługa kasowa i rachunków bankowych w różnych walutach</li>
<li>rozrachunki mogą być prowadzone w różnych walutach ( możliwość automatycznego wyliczania różnic kursowych, drukowania potwierdzeń sald w walutach, prowadzenie kartotek w walutach);</li>
<li>możliwości drukowania przypomnień – informacji o niezapłaconych fakturach;</li>
<li>możliwość pełnego, automatycznego rozliczenia kosztów, w tym kosztów materiałowych,</li>
<li>sprawozdawczość finansowa, bilans i rachunek zysków i strat</li>
<li>możliwość automatycznego tworzenia rejestrów VAT z zakupów w momencie księgowania dokumentów;</li>
<li>tworzenie rejestrów Vat ze sprzedaży w walucie zgodnie z przepisami ustawy o podatku od towarów i usług ( po przeliczeniu według kursu średniego NBP z dnia wystawienia faktury ), dotyczy to również rejestrów Vat z wewnątrzwspólnotowego nabycia towarów oraz importu usług;</li>
<li>możliwość automatycznego tworzenia deklaracji VAT;</li>
</ul>
<h2>Kadry i płace:</h2>
<ul>
<li>komunikacja z oprogramowaniem innych firm (Płatnik, systemy bankowe)</li>
<li>prosta, intuicyjna obsługa systemu</li>
<li>połączenie z modułem planowania i rozliczenia produkcji,</li>
<li>zawarcie w systemie wykonania norm czasu pracy do indywidualnego lub grupowego rozliczania  pracowników.</li>
<li>rekrutacja wewnętrzna – dopasowanie pracownika do stanowiska i stanowiska do pracownika</li>
<li>rekrutacja zewnętrzna</li>
<li>wartościowanie stanowiska pracy: ustalenie płacy podstawowej zgodnie z wartością jego stanowiska; opracowanie hierarchii stanowisk w firmie</li>
<li>ocena wydajności pracy</li>
<li>szkolenia – planowanie, administrowanie, kontrola kosztów szkoleń</li>
<li>testy i kwestionariusze</li>
<li>zarządzanie opisem stanowiska pracy - zbiór informacji o celu stanowiska, treści pracy wykonywanej na tym stanowisku oraz wymaganiach stawianych osobom wykonującym pracę</li>
<li>symulacja płac - po uwzględnieniu płacy podstawowej wynikającej z wartościowania stanowiska pracy, doświadczenia pracownika, jego kompetencji, średniej płacy rynkowej i dodając do tego wynik okresowej oceny pracy, otrzymujemy wartość, którą możemy uwzględnić w ustalaniu listy płac</li>
<li>systemy motywacyjne</li>
</ul>
<ul>
<h2>Gospodarka magazynowa i zaopatrzenie:</h2>
<li>prosta, intuicyjna obsługa systemu,</li>
<li>Sygnalizacja systemu przekroczenia założonych ilościowych stanów magazynowych materiałów,</li>
<li>Rezerwacja materiałów od momentu otworzenia limitu do zlecenia </li>
<li>Pokazywanie w kartotece ostatniej ceny przyjęcia,</li>
<li>wykaz aktualnych /faktycznych/ stanów magazynowych wraz z cenami</li>
<li>potwierdzenie złożenia zamówienia na materiały do prototypów, narzędzi itp. oraz potwierdzenie przyjęcia na magazyn</li>
<li>możliwość wyszukiwania materiałów po słowach kluczowych lub numerach indeksów</li>
<li>kontrolowanie stanu ofert rynkowych od dostawców</li>
<li>możliwość oceny dostawców pod kątem spełniania wyspecyfikowanych wymagań,  kryteriów oceny (np. w Karcie oceny dostawcy) lub wgląd w historię współpracy</li>
<li>VMI - automatyczny proces uzupełniania materiałów na magazynie przez dostawców</li>
<li>przekazywanie materiałów pomiędzy kooperantami, za pomocą odpowiednich typów dokumentów</li>
</ul>
<h2>Produkcja:</h2>
<ul>
<li>struktury materiałowe mają umożliwić porównanie wariantów pod względem wersji, łącznie z analizą wartości materiałów oraz uwzględnieniem substytutów,</li>
<li>umożliwia wskazanie w jakich strukturach materiałowych dany materiał został użyty oraz na proste dokonywanie zmian materiału, zastąpieniem go innym materiałem, </li>
<li>pozwolić archiwizować wersje struktur materiałowych,</li>
<li>pozwolić na szybkie zastępowanie aktualnej wersji struktury materiałowej nową wersją</li>
<li>umożliwia powiązanie struktury materiałowej z kompletem dokumentacji konstrukcyjnej i technologicznej</li>
<li>pozwala na powiązanie czasów wykonania poszczególnych operacji, czasów maszynowych, czasów przygotowawczo-zakończeniowych ze strukturą materiałową oraz marszrutą technologiczną oraz na ustalenie optymalnej partii produkcyjnej lub wyliczenie czasów wykonania w zależności od wielkości partii,</li>
<li>umożliwia definiowanie alternatywnych sposobów wytwarzania, z dokładnością do pojedynczej maszyny oraz zapewnić identyfikację procesu produkcji na poziomie maszyny lub gniazda,</li>
<li>program do zarządzania dokumentacją umożłiwia dołączanie dokumentacji w postaci załączników w plikach CAD, DOC</li>
<li>pozwala na łatwe tworzenie nowych technologii poprzez kopiowanie istniejącej i nanoszenie zmian,</li>
<li>generowanie harmonogramu na podstawie zamówień odbiorców i wcześniejszej produkcji w analogicznym okresie ubiegłego roku.</li>
<li>generowanie na podstawie harmonogramu zamówień materiałowych a następnie zleceń produkcyjnych.</li>
<li>pozwala na rejestracje i archiwizacje  badania wyrobu w toku produkcji oraz wydruku wyniku badania,</li>
<li>umożliwia zapamiętywanie planowanych kosztów oraz  wykonanych planowanych  kalkulacji wyrobów.</li>
<li>pozwala na zmianę normatywów z uwzględnieniem półfabrykatów, czasów produkcji na gniazdach , wydajności maszyn , pracochłonności.</li>
<li>obsługuje kody kreskowe do identyfikacji półfabrykatów, co umożliwia obliczanie produkcji w toku.</li>
<li>zapewnia wgląd konstruktorom, technologom oraz wszystkim uprawnionym użytkownikom w plany produkcyjne oraz przebieg procesu produkcyjnego,</li>
<li>tworzenie magazynów  w toku produkcji ze wskazaniem miejsca magazynowania, ilości sztuk,</li>
<li>pozwala na określenie oraz rejestrację obciążenia poszczególnych gniazd, stanowisk, maszyn w ciągu produkcyjnym,</li>
<li>pozwala na stworzenie bazy danych odnośnie narzędzi, oprzyrządowania stosowanego w produkcji, miejsca ich użytkowania, składowania oraz informować o terminach przeglądów, legalizacji itp</li>
<li>umożliwia śledzenie stanu zużycia narzędzi, przyrządów używanych w procesie produkcji</li>
<li>pozwala na zawarcie informacji o przeglądach maszyn i urządzeń z uwzględnieniem wpływu terminu realizacji zlecenia produkcyjnego</li>
<li>zawiera ewidencję oraz gospodarkę przedmiotów nietrwałych,</li>
<li>zapewnia dostęp do funkcjonalności obszaru Gospodarka Magazynowa,</li>
<li>podgląd i rozliczanie zleceń działu,</li>
<li>ewidencja i monitorowanie narzędzi,</li>
<li>ewidencja i monitorowanie badań , legalizacji i pomiarów wykonywane na zewnątrz,</li>
<li>plany remontowe – ewidencja remontów maszyn , urządzeń , infrastruktury,</li>
<li>umożłiwia śledzenie informacji o kosztach i jakości wyrobów (kontrole, powiadomienia)</li>
<li>przechowuje informację o reklamacjach, klasyfikacji tych reklamacji wg miejsca ich powstawania w wyrobie oraz u klienta,</li>
<li>moduł obsługi zleceń napraw gwarancyjnych</li>
</ul>
</div>
</section>