<section>

<div id="onas">
<div id="products_info">

<div class="section_header_div">
<h2>ERP</h2>
</div>
<p>
Nasza firma specjalizuje się w produkcji i wdrażaniu systemów klasy ERP - Enterprise Resource Planning - narzędziami służącymi do kompleksowego zarządzania przedsiębiorstwami.
</p>
<div class="definition_frame" id="erp_definition">
<p class="definition_text">ERP - Enterprise Resource Planning</p>
<p class="knowmore">dowiedz się więcej</p>
</div>
<div class="section_header_div">
<h2>Systemy specjalizowane</h2>
</div>
<p >W trakcie ponad 20 lat działalności firmy realizowaliśmy zlecenia dla klientów z dużego spektrum branżowego, między innymi dla przemysłu spożywczego, wydobywczego, zakładów produkcyjnych, szpitali i placówek kulturalnych. Świadomi różnic w oczekiwaniach od systemów komputerowych każdej z branż, staramy się dostarczać produkty "szyte na miarę" dla naszych klientów, często oferujące funkcjonalność wykraczającą poza ramy typowych systemów ERP. W ciągu ostatnich lat zaprojektowaliśmy dwa duże systemy na indywidualne zlecenie naszych klientów:
</p>
<div class="definition_frame" id="left_taylor">
<p class="definition_text">System billingowy</p>
<p class="knowmore">dowiedz się więcej</p>
</div>
<div class="definition_frame" id="right_taylor">
<p class="definition_text">System doboru central wentylacyjnych</p>
<p  class="knowmore">dowiedz się więcej</p>
</div>
</p> 
</div>
<div id="products_sidebar">
<ul>
<LI>ERP</LI>
<ul>
<LI>Gospodarka magazynowa</LI>
<li>Finanse i księgowość</li>
<li>Kadry i płace</li>
<li>Planowanie produkcji</li>
<li>Sprzedaż</li>
<li>CRM</li>
</ul>
<LI>Systemy specjalizowane</LI>
<ul>
<li>System billingowy</li>
<li>System doboru central wentylacyjnych</li>
</ul>
</ul>
</div>


</section>