<section>
<div id="tresc">
<h2>System Rozliczania Energii Wielkich Odbiorców</h2>
	
	<p>W 2001 Zakład Energetyczny Kraków podjął decyzję o przeniesieniu dotychczasowego systemu rozliczania energii do środowiska windows oraz użycia wydajnej i skalowanej bazy danych. Postawiono wysokie wymagania co do zakresu i skuteczności systemu. W nieco ponad rok przy użyciu nowoczesnych narzędzi został stworzony graficzny system AWO a jako baza danych użyta została stabilna platforma Oracle. Dało to prawie momentalnie możliwość dalszych zmian i modernizacji systemu. System został wzbogacony o komunikację z  aplikacjami w Centrum Druku oraz spięty interfejsem z zewnętrznym systemem gospodarki licznikami energii ELIOT. Zaimplementowany został mechanizm importu zdalnych odczytów. Jako dopełnienie automatycznego zasilania niezbędnymi danymi do wystawiania faktur, moduł analizy wyciągów elektronicznych pozwala na natychmiastowe rozliczenie konta klienta. Rozbudowany, wielopoziomowy moduł windykacji oparty jest na w pełni definiowalnych przez uprawnionego użytkownika szablonach i charakteryzuje się wysokim wskaźnikiem skuteczności. Tak skonstruowany system umożliwił do minimum skrócenie czasu od pojawienia się odczytów do zamknięcia okresu obrachunkowego i wygenerowania odpowiednich raportów sprzedaży. Szybka reakcja na powstałe zadłużenia oraz przekrojowa i wielopoziomowa analiza należności spowodowała postawienie oddziału Kraków na pozycji lidera grupy ENION w wykonaniu wskaźnika skuteczności windykacji. W obecnym etapie dokonywane są modernizacje związane z odseparowaniem energii i dystrybucji oraz wykonywania rozliczeń dla więcej niż jedengo podmiotu. Planowane jest również zwiększenie obszaru działania systemu na pozostałe jednostki grupy ENION. Kraków, Tarnów, Cz-owa, Będzin, Bielsko Biała - tam funkcjonuje aplikacja. Pododział Tauronu.</p>
</div>
</section>