
<section>
<div id="onas">
<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<p class="imp_p">SIARKOPOL</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<p class="imp_p">Tarnobrzeg</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<p class="imp_p">1990</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>sprzedaż</LI>
<LI>moduł "zawiadowca kopalnii" - <b>oprogramowanie na zlecenie klienta</b></LI>
</ul>
</div>
</div>


<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Miejskie przedsiębiorstwo wodociągów i kanalizacji</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Kraków</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1992</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>środki trwałe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Rafineria nafty Glimar</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Gliwice</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1993</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>sprzedaż</LI>
<LI>rozliczanie produkcji procesowej - <b>oprogramowanie na zlecenie klienta</b></LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Urząd wojewódzki w Krakowie</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Kraków</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1994</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>kadry i płace</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Zamek Królewski na Wawelu</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Kraków</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1994</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>sprzedaż</LI>
<LI>rezerwacja biletów i obsługa rezerwacji - <b>oprogramowanie na zlecenie klienta</b></LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Spółdzielnia "Cukry Nyskie"</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Nysa</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1994</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>sprzedaż</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie produkcji</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Przedsiębiorstwo budownictwa inżynieryjnego ENERGOINŻ</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Bełchatów</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1994</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>sprzedaż</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Fabryka maszyn introligatorskich INTROMA</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Łódź</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1994</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Zakłady naprawcze sprzętu medycznego</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Bytom</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa - <b>oprogramowanie na zlecenie klienta</b></LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Kombinat rolno-spożywczy Dolpasz</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Wrocław</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Wojewódzki Szpital Specjalistyczny</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Lublin</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>rozliczenie kosztów</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<section>
<div id="onas">
<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Szpital w Hajnówce</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Hajnówka</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Szpital psychiatryczny</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Sułkowice</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Szpital</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Tomaszów Lubelski</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Szpital specjalistyczny im. Józefa Babińskiego</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Kraków</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Miedziowe Centrum Zdrowia</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Lubin</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Szpital w Szczecinie</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Szczecin</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">1995</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>rozliczenie kosztów</LI>
<LI>analizy biznesowe</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Zakłady Przemysłu Tłuszczowego</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Bodaczów</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">2002</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>finanse i księgowość</LI>
<LI>gospodarka magazynowa</LI>
<LI>kadry i płace</LI>
<LI>środki trwałe</LI>
<LI>sprzedaż</LI>
<LI>analizy biznesowe</LI>
<LI>obsługa i zarządzanie kontraktacją płodów rolnych - <b>oprogramowanie na zlecenie klienta</b></LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">Tauron Polska Energia</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Kraków</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">2004</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>System billingowy</LI>
</ul>
</div>
</div>

<div class="imp_field">
<div class="imp_name">
<div class="label_description">Klient</div>
<!-- NAZWA --><p class="imp_p">JUWENT S.A.</p>
</div>
<div class="imp_place">
<div class="label_description2">Miejsce wdrożenia</div>
<!-- MIEJSCE --><p class="imp_p">Łódź</p>
</div>
<div class="imp_year">
<div class="label_description3">Rok wdrożenia</div>
<!-- ROK --><p class="imp_p">2009</p>
</div>
<div class="imp_modules">
<div class="label_description2">Wdrożone moduły</div>
<ul>
<LI>System doboru central wentylacyjnych</LI>
</ul>
</div>
</div>

</div>
</section>